<!DOCTYPE html>
<html>
<head>
    <title><%= full_title(yield(:title)) %></title>
    <%= stylesheet_link_tag    "application", media: "all" %>
    <%= javascript_include_tag "application" %>
    <%= csrf_meta_tags %>
    <%= render 'layouts/shim' %>
</head>
<body>

<%= render 'layouts/header' %>

<div class="container">
    <% flash.each do |key, value| %>
        <!--<div class="alert alert-<%= key %>"><%= value %></div>-->
        <%= content_tag(:div, value, class: "alert alert-#{key}") %>
    <% end %>
    <%= yield %>
    <%= render 'layouts/footer' %>
    <br/>
    <p>
    <%=
    if Rails.env.development?
        #<br/>
        #'<h1>sdsd</h1>';
        debug(params);
    end
    %>
    </p>
</div>
</body>
</html>